:root {
    --prim-clr: #100c08;
    --secondary-clr: #dbe0e1;
    --txt-clr: #f3f4f5;
    --accent: #ff9408;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 3fr / 1fr 4fr;
    grid-template-areas: 
    "aside header"
    "aside main";
}


aside {
    grid-area: aside;
}

main {
    grid-area: main;
    background: pink;
}

header {
    grid-area: header;
    background: green;
}